.b-1 {
	color: #ffffff;
}
.b-1 .b-block {
	padding-top: 230px;
	padding-bottom: 80px;
}

.b-2 {
	color: #000000;
	background-color: #ffffff;
}
.b-2 .b-block {
	padding-top: 20px;
	padding-bottom: 40px;
}
.b-2 .title-line::before, .b-2 .title-line::after {
	width: calc(50% - 160px);
}
.b-2-text {
	display: block;
	margin: 0 auto 45px;
	max-width: 960px;
	padding: 30px;
	box-sizing: border-box;
	border: 3px solid rgb(109, 159, 236);
	background-color: rgb(242, 244, 249);
	border-radius: 3px;
	font-size: 20px;
	line-height: 1.2;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.b-2-text:hover {
	background-color: rgb(224, 229, 243);
}
.partners-list li {
	display: inline-block;
	vertical-align: top;
	margin-right: 24px;
	margin-bottom: 30px;
	padding: 90px 35px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.partners-list li:nth-child(4n) {
	margin-right: 0;
}
.partners-list li:hover {
	background-color: #fff3e3;
}
.partners-list li img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.b-3 {
	color: #000000;
	background-color: #ffffff;
}
.b-3 .b-block {
	padding-top: 40px;
	padding-bottom: 30px;
}
.b-3 .title-line::before, .b-3 .title-line::after {
	width: calc(50% - 135px);
}
.b-3-list li {
	display: inline-block;
	vertical-align: top;
	max-width: 300px;
	width: 100%;
	margin-right: 130px;
	margin-bottom: 20px;
}
.b-3-list li:nth-child(3n) {
	margin-right: auto;
}
.b-3-list-text {
	display: block;
	padding: 30px 0;
	width: 100%;
	box-sizing: border-box;
	border: 3px solid rgb(109, 159, 236);
	background-color: rgb(242, 244, 249);
	border-radius: 3px;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 40px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.b-3-list-text:hover {
	background-color: rgb(224, 229, 243);
}
.b-3-list .button {
	display: block;
	padding: 15px 0;
	width: 100%;
}

.b-4, .b-5 {
	color: #000000;
	background-color: #ffffff;
}
.b-4 .b-block {
	padding-top: 30px;
	padding-bottom: 40px;
}
.b-5 .b-block {
	padding-top: 40px;
	padding-bottom: 40px;
}
.b-4 .title-line::before, .b-4 .title-line::after {
	width: calc(50% - 180px);
}
.b-5 .title-line::before, .b-5 .title-line::after {
	width: calc(50% - 130px);
}
.block-image {
	margin-bottom: 20px;
}
.block-image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-4 p, .b-5 p {
	display: block;
	max-width: 830px;
	margin: 0 auto 40px;
}
.list-name {
	box-sizing: border-box;
	padding-bottom: 16px;
	font-size: 18px;
	color: rgb(113, 163, 239);
	position: relative;
	margin-bottom: 25px;
}
.list-name::before {
	content: '';
	display: block;
	width: 170px;
	height: 6px;
	background-color: rgb(255, 193, 113);
	position: absolute;
	left: calc(50% - 85px);
	bottom: 0;
}
.block-list {
	display: block;
	max-width: 830px;
	margin: 0 auto 40px;
}
.block-list li {
	display: block;
	box-sizing: border-box;
	padding-left: 15px;
	font-size: 16px;
	line-height: 1.2;
	text-align: left;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.block-list li::before {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	position: absolute;
	left: 0;
	top: 7px;
	background-color: rgb(113, 163, 239);
	border-radius: 50%;
}

.b-6 {
	color: #000000;
	background-color: #ffffff;
}
.b-6 .b-block {
	padding-top: 40px;
	padding-bottom: 120px;
}
.b-6 .title-line::before, .b-6 .title-line::after {
	width: calc(50% - 345px);
}
.b-6-submit {
	margin: 65px auto 0;
	display: block;
	width: 100%;
	box-sizing: border-box;
	max-width: 770px;
	background-color: rgb(244, 246, 250);
	padding: 40px;
}
.b-6-submit-title {
	display: block;
	text-align: center;
	font-weight: 600;
	margin-bottom: 40px;
	font-size: 22px;
}
.b-6-submit-title span {
	color: rgb(0, 51, 153);
}
.b-6-submit form {
	margin: 0 auto 15px;
	display: block;
	max-width: 315px;
}
.b-6-submit p {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	color: rgb(147, 147, 147);
}
.b-6-submit .input-wrap {
	margin-bottom: 25px;
}
.b-6-submit input {
	display: block;
	margin: 0 auto;
	font-size: 16px;
	color: rgb(0, 51, 153);
	padding: 15px 0;
	border: 1px solid rgb(255, 193, 113);
	border-radius: 3px;
	text-align: center;
	max-width: 300px;
	width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.b-6-submit input::-webkit-input-placeholder {
	color: rgb(0, 51, 153);
}
.b-6-submit input:-moz-placeholder {
	color: rgb(0, 51, 153);
}
.b-6-submit input:focus::-webkit-input-placeholder {
	color: transparent;
}
.b-6-submit input:focus:-moz-placeholder {
	color: transparent;
}
.b-6-submit input:focus, .b-6-submit input:hover {
	background-color: rgb(226, 233, 244);
	border-color: rgb(226, 233, 244);
}
.b-6-submit form button {
	display: block;
	border: 0;
	width: 100%;
	max-width: 300px;
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto;
}
.b-6-submit .button-text {
	font-size: 13px;
	color: rgb(124, 124, 124);
}
.b-6-submit .button-text a {
	color: rgb(124, 124, 124);
}
.b-6-submit .button-text a:hover {
	text-decoration: underline;
}


@media screen and (max-width: 1280px) {
	.partners-list li {
		margin: 0 10px 30px;
	}
	.partners-list li:nth-child(4n) {
		margin-right: 10px;
	}
	.b-3-list li {
		margin: 0 20px 20px;
	}
	.b-3-list li:nth-child(3n) {
		margin: 0 20px 20px;
	}
}
@media screen and (max-width: 768px) {
	.b-1 .b-block {
		padding-top: 129px;
	}
	.partners-list li {
		margin: 0 auto 30px;
	}
	.partners-list li:nth-child(4n) {
		margin-right: auto;
	}
	.b-3-list li {
		display: block;
		margin: 0 auto 20px;
	}
	.b-3-list li:nth-child(3n) {
		margin: 0 auto 20px;
	}
}