.b-1 {
	color: #ffffff;
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(0,51,153) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(0,51,153) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(0,51,153) 100%);
}
.b-1 .b-block {
	padding-top: 65px;
	padding-bottom: 110px;
}

.b-2 {
	color: #000000;
}
.b-2 .b-block {
	padding-top: 50px;
	padding-bottom: 50px;
}
.b-2 .title-line::before, .b-2 .title-line::after {
	width: calc(50% - 315px);
}
.b-2 .title-small {
	margin-bottom: 65px;
}
.info-list {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 60px;
}
.info-list img {
	display: block;
	margin: 0 auto 35px;
}
.info-list-title {
	display: block;
	text-align: center;
	font-weight: 600;
	padding-bottom: 19px;
	color: rgb(29, 29, 27);
	font-size: 20px;
	line-height: 1.2;
	position: relative;
	margin-bottom: 20px;
}
.info-list-title::before {
	content: '';
	display: block;
	width: 90px;
	height: 9px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 45px);
	background-color: rgb(255, 193, 113);
}
.info-list-title span {
	font-size: 30px;
	color: rgb(0, 51, 153);
}
.info-list-text {
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
}
.b-2-text {
	display: block;
	margin: 0 auto;
	max-width: 960px;
	padding: 30px;
	box-sizing: border-box;
	border: 3px solid rgb(109, 159, 236);
	background-color: rgb(242, 244, 249);
	border-radius: 3px;
	font-size: 20px;
	line-height: 1.2;
}

.b-3 {
	color: #000000;
}
.b-3 .b-block {
	padding-top: 50px;
	padding-bottom: 30px;
}
.b-3 .title-line::before, .b-3 .title-line::after {
	width: calc(50% - 346px);
}
.b-3 .title-small {
	margin-bottom: 60px;
}
.association-list {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}
.association-list li {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
	max-width: 570px;
	width: 100%;
	box-sizing: border-box;
	padding: 25px 25px 25px 200px;
	position: relative;
	background-color: rgb(242, 244, 249);
	border-radius: 3px;
}
.association-list li:nth-child(odd) {
	margin-right: 25px;
}
.association-list li img {
	display: block;
	position: absolute;
}
.association-list li.item-1 img {
	top: calc(50% - 64px);
	left: 32px;
}
.association-list li.item-2 img {
	top: calc(50% - 63px);
	left: 35px;
}
.association-list li.item-3 img {
	top: calc(50% - 64px);
	left: 32px;
}
.association-list li.item-4 img {
	top: calc(50% - 61px);
	left: 35px;
}
.association-list li.item-5 img {
	top: calc(50% - 64px);
	left: 49px;
}
.association-list li.item-6 img {
	top: calc(50% - 64px);
	left: 39px;
}
.association-list .list-title {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 15px;
	text-align: left;
	line-height: 1.2;
}
.association-list .list-title span {
	color: rgb(255, 193, 113);
}
.association-list p {
	display: block;
	text-align: left;
	font-size: 16px;
	line-height: 1.4;
	min-height: 88px;
}

.b-4 {
	color: #000000;
}
.b-4 .b-block {
	padding-top: 50px;
	padding-bottom: 40px;
}
.b-4 .title-line::before, .b-4 .title-line::after {
	width: calc(50% - 215px);
}
.reviews-slider {
	width: 100%;
	padding: 0 55px;
	box-sizing: border-box;
}
.review-slide {
	display: block;
	margin: 0 15px;
	text-align: left;
}
.review-slide img {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.review-text {
	display: inline-block;
	vertical-align: top;
	max-width: 245px;
	width: 100%;
}
.review-name {
	display: block;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 10px;
}
.review-info {
	display: block;
	font-weight: 400;
	font-size: 14px;
	color: rgb(17, 68, 166);
	margin-bottom: 15px;
}
.review-text p {
	display: block;
	font-size: 14px;
	line-height: 1.2;
}

.b-5 {
	color: #000000;
}
.b-5 .b-block {
	padding-top: 50px;
}
.b-5 .title-line::before, .b-5 .title-line::after {
	width: calc(50% - 133px);
}
.operators-list {
	display: block;
	width: 100%;
	text-align: center;
}
.operators-list li {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	margin-bottom: 100px;
}
.operators-list li span {
	display: block;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	color: rgb(0, 51, 153);
	padding-bottom: 12px;
	position: relative;
	margin-bottom: 35px;
}
.operators-list li span::before {
	content: '';
	display: block;
	width: 90px;
	height: 9px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 45px);
	background-color: rgb(255, 193, 113);
}
.operators-list li img {
	display: block;
	margin: 0 auto;
}

.b-6 {
	color: #000000;
}
.b-6 .title-line::before, .b-6 .title-line::after {
	width: calc(50% - 133px);
}
.partners-list {
	display: block;
	width: 100%;
	text-align: center;
}
.partners-list li {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	margin-bottom: 100px;
}
.partners-list li span {
	display: block;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	color: rgb(0, 51, 153);
	padding-bottom: 12px;
	position: relative;
	margin-bottom: 35px;
}
.partners-list li span::before {
	content: '';
	display: block;
	width: 90px;
	height: 9px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 45px);
	background-color: rgb(255, 193, 113);
}
.partners-list li img {
	display: block;
	margin: 0 auto;
}

.b-7 {
	color: #000000;
}
.b-7 .b-block {
	padding-bottom: 90px;
}
.b-7 .title-line::before, .b-7 .title-line::after {
	width: calc(50% - 145px);
}
.coordinators-list {
	display: block;
	width: 100%;
	text-align: center;
}
.coordinators-list li {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	margin-bottom: 65px;
}
.coordinators-list li span {
	display: block;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	color: rgb(0, 51, 153);
	padding-bottom: 12px;
	position: relative;
	margin-bottom: 35px;
}
.coordinators-list li span::before {
	content: '';
	display: block;
	width: 90px;
	height: 9px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 45px);
	background-color: rgb(255, 193, 113);
}
.coordinators-list li img {
	display: block;
	margin: 0 auto;
}
.contacts-list {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 60px;
}
.contacts-list li {
	padding-left: 58px;
	position: relative;
	text-align: left;
}
.contact-item-1::before {
	content: '';
	display: block;
	width: 49px;
	height: 49px;
	background-image: url("../i/phone-icon.png");
	position: absolute;
	left: 0;
	top: 5px;
}
.contact-item-2::before {
	content: '';
	display: block;
	width: 49px;
	height: 49px;
	background-image: url("../i/mail-icon.png");
	position: absolute;
	left: 0;
	top: 5px;
}
.contacts-list .contact-item-3 {
	padding-left: 47px;
}
.contact-item-3::before {
	content: '';
	display: block;
	width: 38px;
	height: 49px;
	background-image: url("../i/map-icon.png");
	position: absolute;
	left: 0;
	top: 5px;
}
.contacts-title {
	display: block;
	font-weight: 400;
	color: rgb(0, 51, 153);
	font-size: 20px;
	margin-bottom: 15px;
}
.contacts-list p {
	display: block;
	font-size: 20px;
	font-weight: 700;
}
.contacts-list p a {
	color: #000000;
}


@media screen and (max-width: 1280px) {
	.association-list li:nth-child(odd) {
		margin-right: auto;
	}
	.association-list li {
		display: block;
		margin: 0 auto 30px;
	}
	.review-slide img {
		margin-bottom: 20px;
	}
	.contacts-list {
		display: block;
	}
	.contacts-list .contact-item-3 {
		padding-left: 58px;
	}
	.contact-item-3::before {
		left: 11px;
	}
	.contacts-list li {
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 768px) {
	.info-list {
		display: block;
	}
	.info-list li {
		display: block;
		margin-bottom: 40px;
	}
	.association-list li {
		padding: 200px 25px 25px 25px;
	}
	.association-list li.item-1 img {
		top: 25px;
		left: calc(50% - 64px);
	}
	.association-list li.item-2 img {
		top: 25px;
		left: calc(50% - 64px);
	}
	.association-list li.item-3 img {
		top: 25px;
		left: calc(50% - 64px);
	}
	.association-list li.item-4 img {
		top: 25px;
		left: calc(50% - 64px);
	}
	.association-list li.item-5 img {
		top: 25px;
		left: calc(50% - 47px);
	}
	.association-list li.item-6 img {
		top: 25px;
		left: calc(50% - 60px);
	}
	.review-slide {
		margin: 0;
	}
	.reviews-slider {
		padding: 0 35px;
	}
	.review-slide img {
		display: block;
		margin: 0 auto 20px;
		max-width: 100%;
	}
	.review-text {
		max-width: 100%;
		display: block;
	}
	.operators-list li {
		display: block;
		width: 100%;
	}
	.partners-list li {
		display: block;
		width: 100%;
	}
	.coordinators-list li {
		display: block;
		width: 100%;
	}
}
