@charset "utf-8";


html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
button:hover {
	cursor: pointer;
}
input[type='number'] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.fancybox-inner{
	overflow: visible !important;
}

.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 100%;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}

.button {
	display: inline-block;
	vertical-align: top;
	padding: 15px 70px;
	border-radius: 3px;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.button-blue {
	background-color: rgb(0, 51, 153);
}
.button-blue:hover {
	background-color: rgb(3, 70, 204);
}
.button-subscribe {
	display: block;
	text-align: center;
	font-weight: 400;
	color: rgb(124, 124, 124);
	margin-top: 15px;
}
.title {
	display: block;
	font-weight: 600;
	font-size: 46px;
	text-align: center;
	margin: 0 auto 30px;
}
.title-small {
	font-size: 35px;
	color: rgb(29, 29, 27);
	font-weight: 600;
	margin-bottom: 60px;
}
.title-line {
	position: relative;
}
.title-line::before {
	content: '';
	background-color: rgb(109, 159, 236);
	position: absolute;
	width: 0;
	height: 1px;
	display: block;
	left: 0;
	top: 50%;
}
.title-line::after {
	content: '';
	background-color: rgb(109, 159, 236);
	position: absolute;
	width: 0;
	height: 1px;
	display: block;
	right: 0;
	top: 50%;
}
.title-subscribe {
	display: block;
	margin: 0 auto 60px;
	font-size: 26px;
	font-weight: 400;
}
.title-subscribe span {
	color: rgb(0, 51, 153);
}
.slick-arrow {
	position: absolute;
	font-size: 0;
	background-color: transparent;
	border: 0;
	top: calc(50% - 18px);
	display: block;
	width: 22px;
	height: 36px;
}
.slick-prev {
	background-image: url("../i/arr-prev.png");
	left: 0;
}
.slick-prev:hover {
	background-image: url("../i/arr-prev-h.png");
	cursor: pointer;
}
.slick-next {
	background-image: url("../i/arr-next.png");
	right: 0;
}
.slick-next:hover {
	background-image: url("../i/arr-next-h.png");
	cursor: pointer;
}
.video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	height: auto;
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(0,51,153) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(0,51,153) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(0,51,153) 100%);
}
.video video {
	display: none;
	width: 100%;
}
.video.active video {
	display: block;
}
.video-top {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	top: 0;
}
.video.active .video-top {
	display: block;
}




input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}

.header {
	color: #ffffff;
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 100;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.header.active {
	position: fixed;
	background-color: rgb(0,51,153);
}
.header .b-block {
	padding-top: 20px;
}
.header.active .b-block {
	padding-top: 10px;
	padding-bottom: 10px;
}
.header-top {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	align-items: top;
	justify-content: space-between;
}
.header.active .header-top {
	display: none;
}
.header-logo {
	display: inline-block;
	height: 68px;
	position: relative;
}
.header-logo::before {
	content: '';
	display: block;
	position: absolute;
	opacity: 0;
	top: -52px;
	left: 5px;
	width: 118px;
	height: 119px;
	background-size: contain;
	background-image: url('../i/blick.png');
    -webkit-transform-origin: center 45%;
	-moz-transform-origin: center 45%;
	-ms-transform-origin: center 45%;
	-o-transform-origin: center 45%;
	transform-origin: center 45%;
	-webkit-animation: blick 4s linear 1s infinite;
    -moz-animation: blick 4s linear 1s infinite;
    -ms-animation: blick 4s linear 1s infinite;
    -o-animation: blick 4s linear 1s infinite;
    animation: blick 4s linear 1s infinite;
}
.header-logo img {
	display: block;
}
.header-contacts {
	text-align: right;
	margin-bottom: 20px;
}
.header-contacts-block {
	display: block;
	margin-bottom: 30px;
}
.header-phone {
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	color: #ffffff;
	font-size: 20px;
}
.header-contacts-block p {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	padding-left: 30px;
	position: relative;
}
.header-contacts-block p::before {
	content: '';
	display: block;
	width: 23px;
	height: 15px;
	position: absolute;
	left: 0;
	top: calc(50% - 8px);
	background-image: url("../i/video-icon.png");
}
.header-contacts-block p:hover {
	cursor: pointer;
}
.header-contacts-block p span {
	display: inline-block;
	width: 30px;
	height: 20px;
	border: 2px solid #cccccc;
	border-radius: 11px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.header-contacts-block p span::before {
	content: '';
	display: block;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 1px;
	right: 1px;
	background-color: #cccccc;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.header-contacts-block p.active span {
	border-color: #ffc171;
}
.header-contacts-block p.active span::before {
	background-color: #ffc171;
	-webkit-transform: translateX(-10px);
	-moz-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	-o-transform: translateX(-10px);
	transform: translateX(-10px);
}
.header-write {
	display: inline-block;
	vertical-align: top;
	padding-left: 28px;
	position: relative;
	color: #ffffff;
	text-decoration: underline;
	font-size: 14px;
}
.header-write::before {
	content: '';
	display: block;
	width: 22px;
	height: 22px;
	background-image: url("../i/whatsup-icon.png");
	position: absolute;
	left: 0;
	top: calc(50% - 11px);
}
.header-write:hover {
	text-decoration: none;
}
.mobile-btn {
	display: none;
}
.header-nav {
	width: 100%;
	display: block;
}
.header-nav .nav-list {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
}
.header-nav .nav-list li {
	position: relative;
}
.header-nav .nav-list a {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	color: #ffffff;
	position: relative;
}
.header-nav .nav-list span {
	color: #ffffff;
	font-size: 18px;
}
.header-nav .nav-list span:hover {
	cursor: pointer;
}
.header-nav .nav-list a:hover {
	text-decoration: underline;
}
.header-nav .nav-list li.last-li a {
	padding: 10px;
	border-radius: 3px;
	border: 1px solid rgb(255, 193, 113);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav .nav-list li.last-li a:hover {
	text-decoration: none;
	background-color: rgb(255, 193, 113);
}
.header-nav .nav-list .drop-down_list {
	text-align: left;
	padding: 10px;
	position: absolute;
	box-sizing: border-box;
	min-width: 100%;
	display: none;
}
.header-nav .nav-list li.active .drop-down_list {
	display: block;
}
.header.active .header-nav .nav-list .drop-down_list {
	background-color: rgb(0, 51, 153);
}
.header-nav .nav-list .drop-down_list li {
	position: relative;
	margin-bottom: 3px;
}
.header-nav .nav-list .drop-down_list li a {
	font-size: 14px;
	padding-left: 10px;
}
.header-nav .nav-list .drop-down_list li a::after {
	content: '';
	display: block;
	top: calc(50% - 2.5px);
	left: 0;
	border-radius: 50%;
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: #ffc171;
}


.footer {
	color: #000000;
	border-top: 1px solid rgb(215, 215, 215);
	background-color: #ffffff;
}
.footer .b-block {
	padding-top: 35px;
	padding-bottom: 35px;
}
.footer-block {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	align-items: top;
	justify-content: space-between;
}
.footer-logo {
	display: inline-block;
	height: 68px;
	position: relative;
}
.footer-logo::before {
	content: '';
	display: block;
	position: absolute;
	opacity: 0;
	top: -52px;
	left: 5px;
	width: 118px;
	height: 119px;
	background-size: contain;
	background-image: url('../i/blick.png');
    -webkit-transform-origin: center 45%;
	-moz-transform-origin: center 45%;
	-ms-transform-origin: center 45%;
	-o-transform-origin: center 45%;
	transform-origin: center 45%;
	-webkit-animation: blick 4s linear 1s infinite;
    -moz-animation: blick 4s linear 1s infinite;
    -ms-animation: blick 4s linear 1s infinite;
    -o-animation: blick 4s linear 1s infinite;
    animation: blick 4s linear 1s infinite;
}
.footer-nav-list li {
	text-align: left;
	display: block;
	margin-bottom: 10px;
}
.footer-nav-list li a {
	font-size: 16px;
	color: rgb(29, 29, 27);
}
.footer-nav-list li a:hover {
	text-decoration: underline;
}
.footer-nav-list li a.nav-a {
	color: #003399;
	text-decoration: underline;
}
.footer-nav-list li a.nav-a:hover {
	text-decoration: none;
}
.footer-info p {
	display: block;
	font-size: 11px;
	color: rgb(145, 145, 145);
	line-height: 1.5;
	text-align: left;
	margin-bottom: 10px;
}
.footer-info .social-list li {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.footer-info .social-list li:last-child {
	margin-right: 0;
}
.footer-info .social-list li a {
	display: block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-info .social-list li a img {
	display: block;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	filter: grayscale(1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-info .social-list li a:hover {
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
.footer-info .social-list li a:hover img {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	filter: grayscale(0);
}
.footer-right {
	text-align: right;
}
.footer-right .footer-phone {
	display: block;
	font-weight: 700;
	color: #000000;
	font-size: 20px;
	margin-bottom: 20px;
}
.footer-right .atk-logo {
	display: inline-block;
}
.footer-right .atk-logo img {
	display: block;
}

@-webkit-keyframes blick {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	10% {
		opacity: 1;
		transform: rotate(180deg);
	}
	20% {
		opacity: 0;
		transform: rotate(360deg);
	}
	100% {
		opacity: 0;
		transform: rotate(0deg);
	}
}
@-moz-keyframes blick {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	10% {
		opacity: 1;
		transform: rotate(180deg);
	}
	20% {
		opacity: 0;
		transform: rotate(360deg);
	}
	100% {
		opacity: 0;
		transform: rotate(0deg);
	}
}
@-ms-keyframes blick {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	10% {
		opacity: 1;
		transform: rotate(180deg);
	}
	20% {
		opacity: 0;
		transform: rotate(360deg);
	}
	100% {
		opacity: 0;
		transform: rotate(0deg);
	}
}
@keyframes blick {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	10% {
		opacity: 1;
		transform: rotate(180deg);
	}
	20% {
		opacity: 0;
		transform: rotate(360deg);
	}
	100% {
		opacity: 0;
		transform: rotate(0deg);
	}
}


@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	.header-nav .nav-list a, .header-nav .nav-list span {
		font-size: 12px;
	}
	.header-nav .nav-list .drop-down_list li a {
		font-size: 12px;
	}
	.footer-block {
		display: block;
	}
	.footer-logo {
		margin-bottom: 30px;
	}
	.footer-nav-list li {
		text-align: center;
	}
	.footer-info p {
		text-align: center;
	}
	.footer-right {
		margin-top: 20px;
		text-align: center;
	}
}
@media screen and (max-width: 768px){
	.b-block {
		padding: 0 10px;
	}
	.title {
		font-size: 36px;
	}
	.header-nav {
		display: none;
	}
	.header-top {
		display: block;
		text-align: right;
	}
	.header-logo {
		display: none;
	}
	.header-contacts-block p {
		display: none;
	}
	.header-write {
		display: none;
	}
	.header-contacts-block {
		margin-bottom: 0;
	}
	.header .b-block {
		padding-bottom: 20px;
	}
	.header-contacts {
		display: inline-block;
		margin-bottom: 0;
	}
	.mobile-btn {
		display: block;
		position: absolute;
		top: 21px;
		left: 10px;
		width: 26px;
		height: 22px;
	}
	.mobile-btn-el {
		display: block;
		position: absolute;
		width: 100%;
		height: 4px;
		top: calc(50% - 2px);
		left: 0;
		background-color: #ffffff;
		border-radius: 4px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.mobile-btn::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 4px;
		background-color: #ffffff;
		border-radius: 4px;
		-webkit-transform-origin: left;
		-moz-transform-origin: left;
		-ms-transform-origin: left;
		-o-transform-origin: left;
		transform-origin: left;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.mobile-btn::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 4px;
		background-color: #ffffff;
		border-radius: 4px;
		-webkit-transform-origin: left;
		-moz-transform-origin: left;
		-ms-transform-origin: left;
		-o-transform-origin: left;
		transform-origin: left;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.mobile-btn.active::before {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.mobile-btn.active::after {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.mobile-btn.active .mobile-btn-el {
		opacity: 0;
	}
	.header-nav.active {
		display: block;
	}
	.header-nav{
		position: static;
		overflow: hidden;
		height: 0;
	}
	.header-nav .nav-list {
		display: block;
		padding: 0;
	}
	.header-nav .nav-list li {
		display: block;
		margin-top: 10px;
	}
	.header-nav .nav-list a, .header-nav .nav-list span {
		font-size: 14px;
	}
	.header-nav .nav-list .drop-down_list li a {
		font-size: 14px;
	}
	.header {
		position: fixed;
		max-height: 100vh;
		overflow-y: auto;
	}
	.header.menu-active {
		background-color: rgb(0,51,153);
	}
	.header.active .b-block {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.header.active .header-top {
		display: block;
	}
	.header-nav .nav-list .drop-down_list {
		position: static;
		text-align: center;
	}
}