.b-1 {
	color: #ffffff;
}
.b-1 .b-block {
	padding-top: 300px;
	padding-bottom: 100px;
}
.b-1 .title {
	text-transform: uppercase;
}

.b-2 {
	background-color: #ffffff;
}
.b-2 .b-block {
	padding-top: 40px;
	padding-bottom: 40px;
}
.b-2 p {
	font-size: 16px;
	display: block;
	margin-bottom: 20px;
	line-height: 1.5;
	text-align: left;
}
.b-2 p.last-p {
	margin-bottom: 60px;
}
.b-2 p a {
	color: rgb(0, 51, 153);
}
.b-2 p a:hover {
	text-decoration: underline;
}